<%- include('head', { 
    onload: "env(); new Courses()", 
    scripts: [
        "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js",
        "https://cdn.socket.io/4.6.0/socket.io.min.js",
        "../js/env.js",
        "../js/courses.js"
    ]
}) %>

<p id="user" style="display: none"><%= user %></p>
<p id="token" style="display: none"><%= token %></p>

<div id="container">
    <style type="text/css" media="screen">
        #assignments-column {
            overflow-y: scroll;
            height: 100vh;
        }
    </style>
    <div class="columns is-centered">
        <div id="assignments-column" class="column is-one-third is-fullheight">
    
        </div>
        <div class="column is-one-third">
    
        </div>
        <div class="column is-one-third">
            <div id="resources" class="container">
                Seeds: 0
            </div>
        </div>
    </div>
</div>

<%- include('tail') %>
