<%- include('head') %>
<form action="/login" method="post">
    <input type="text" placeholder="Username" id="user" name="user" required />
    <input type="password" placeholder="Password" id="pw" name="pw" required />
    <input type="submit" value="Login/Register" />
</form>
<p><%= message %></p>
<%- include('tail') %>
